*{
  --darkmode: #36393f;
  text-decoration: none;
  --header: #23272a;
}

body{
  background-color: var(--darkmode);
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 10vh;
  background-color: var(--header);
}
.header > .title{
  display: flex;
  align-items: center;
  
}
.header > div > img {
  max-height: 8rem;
}

nav{
  display: flex;
  justify-content: space-around;
  gap: 10px;
  align-items: center;
  color: antiquewhite;
}

h1, h3{
  color: #ffffff;
}

.product-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.product-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
